*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	
	font-size: 14px;
	
	font-weight: 400;
	font-family: 'Sen', sans-serif;
	color: white;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	/* margin-bottom: 0 !important; */
}

._container {
	max-width: 1440px;
	margin: 0px auto;

}

.header {
    height: 814px;
	width: 100%;
    
    background: linear-gradient(to right, #000000 50%, #181823 50%);
  
   
}


.nav {
   
}
.menu {
    
}
.menu-list {
    height: 88px;
    display:flex;
    justify-content: space-around;
     align-items: center;
    
   
  
}
.menu-item:not(:last-child) {
	margin: 0px 40px 0px 0px;
	
}
.menu-link {
	color:inherit ;
	font-size: 15px;
}
.header-img{
	width: 720px;
	height: 650px;
	object-fit: cover;
}
.header-content{
	

	
	
	
}
.header-top{
	height: 88px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-bottom: 30px;
}
.header-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-tittle{
font-weight: bold;
color: white;
font-size: 35px;
}
.about-me {
	width: 700px;
	
}
.about-me-tittle{
	font-size: 70px;
}
.about-me-subtittle{
	font-size: 18px;
}