*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	
	font-size: 14px;
	background: #000000;
	font-weight: 400;
	font-family: 'Sen', sans-serif;
	color: white;
}



._container {
	max-width: 1278px;
	margin: 0px auto;

}

.header {
    height: 814px;
	width: 100%;
    
    background: linear-gradient(to right, #000000 50%, #181823 50%);
  
   
}



.menu-list {
    height: 88px;
    display:flex;
    justify-content: space-around;
     align-items: center;
    
   
  
}
.menu-item:not(:last-child) {
	margin: 0px 40px 0px 0px;
	
}
.menu-link {
	color:inherit ;
	font-size: 19px;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color .3s ease-in-out;
}
.menu-list a:hover {
	background-color: #e0e0e0;
  }

.header-img{
	width: 600px;
	height: 600px;
	object-fit: cover;
}

.header-top{
	height: 88px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-bottom: 30px;
}
.header-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-tittle{
font-weight: bold;
color: white;
font-size: 35px;

}
.about-me {
	width: 600px;
	
}
.about-me-tittle{
	font-size: 55px;
}
.about-me-subtittle{
	margin-top: 20px;
	font-size: 18px;
}
.skills {

padding-top: 30px;
padding-bottom: 30px;



}
.skills-tittle{
	font-size: 55px;
}
.skillbars {
	margin-top: 20px;
	padding: 10px;
	font-size: 20px;
	height: 200px;
	width: 50%;
	background:rgba(149, 171, 188, 0.18);
	border-radius: 10px;
	
	
}
.progressbar { 
	height: 20px;
	position: relative;
	background: #555;
	padding: 3px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	
}
.progressbar > span {
  display: block;
  height: 100%;
 
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
} 
.progressbar > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.skill {
	margin-top: 10px;
	

}
.code-example{
	color: #000000;
	
	background: #FFF3E4;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.code-example-tiitle{
	font-size: 55px;
	
	
}
.code-example-subtittle{
	font-size: 18px;
}
.code{
	font-size: 25px;
	padding: 0;
	margin: 0;
		
}
.education-languages{
	background: #000000;
	
	display: flex;
	justify-content: space-between;
	
	
}
.education-tittle{
	padding-top:30px;
	font-size: 55px;
	margin-bottom: 20px;
}

.education-languages li::before {
    content: "■"; 
    color:#5221E6;
}
.education-item{
	font-size: 25px;
	padding-bottom: 10px;
}

.project-img{
	width: 400px;
	height: 250px;
	object-fit: cover;
}
.my_projects{
	display: flex;
	justify-content:space-evenly;
	padding-bottom: 30px;

}
.my_project{
	
	transition: background-color .3s ease-in-out;
	
}
.my-project a{
	color: inherit;
}
.my-project :hover {
	background-color: #e0e0e0;
  }
.project-tittle{
	padding-top:30px;
	font-size: 55px;
	margin-bottom: 20px;
}
.project-subtittle{
	padding-top: 20px;
	font-size: 25px;
	background: #181823;
	width: 400px;
	padding-bottom: 20px;
}
.my-project{
	text-align: center;
	}
.footer{
	background:#181823;
	height: 300px;
	
}
.footer-content{
	padding-bottom:90px;
}
.contacts-tittle{
	padding-top: 20px;
	font-size: 55px;
}
.social-icons {
  display: flex;
  justify-content: left;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}
.social-icons>li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.social-icons a {
  position: relative;
  background-color: #181823;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color .3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .25rem;
}
.social-icons a:hover {
  background-color: #e0e0e0;
}
.social-icons a::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: .5rem;
  top: .5rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.social-icons .social-icon-gmail::before {
  background-image: url("./ico/gmail.png");
}
.social-icons .social-icon-discord::before {
  background-image: url("./ico/discord.png");
}
.social-icons .social-icon-vk::before {
  background-image: url("./ico/vk.png");
}
.social-icons .social-icon-telegram::before {
  background-image: url("./ico/telegram.png");
}
.social-icons .social-icon-github::before {
  background-image: url("./ico/icons8-github-50.png");
}
.footer-bottom a{
	display: block;
	transition: background-color .3s ease-in-out;
	
}
.footer-bottom a:hover {
	background-color: #e0e0e0;
  }
.rs-school{
	width: 100px;
	height: 50px;
}
.year{
	color: #000000;
	font-size: 25px;
}
.footer-bottom {

	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
